<html>
<head>
<title>Filter Analysis</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'personal/styles/template.css'%}" />
  <link rel="stylesheet" type="text/css" href="{% static 'personal/styles/ui.css'%}" />
  <link rel="stylesheet" type="text/css" href="{% static 'personal/styles/layoutComponents.css'%}" />
  <link href="http://www.me.umn.edu/lib/css/reset.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="http://www.me.umn.edu/lib/css/text.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="http://www.me.umn.edu/lib/css/template.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="http://www.me.umn.edu/lib/css/optional.css" rel="stylesheet" type="text/css" media="screen" />
  <script type="text/javascript" src="{% static 'personal/ext_lib/JsGraphicsLib/lib/ErrorManager.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/ext_lib/JsGraphicsLib/lib/prototype.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/ext_lib/JsGraphicsLib/lib/wz_jsgraphics.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/ext_lib/JsGraphicsLib/SimpleLineGraph/SimpleLineGraph.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/ext_lib/JsGraphicsLib/SimpleLineGraph/Painter.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/ext_lib/JsGraphicsLib/SimpleLineGraph/Axis.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/ext_lib/JsGraphicsLib/SimpleLineGraph/Point.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/ext_lib/JsGraphicsLib/SimpleLineGraph/Legend.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/ext_lib/JsGraphicsLib/SimpleLineGraph/Table.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/ext_lib/JsGraphicsLib/SimpleLineGraph/DataSet.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/ext_lib/JsGraphicsLib/Layout/JsLayoutManager.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/ext_lib/JsGraphicsLib/Layout/XWindow.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/ext_lib/JsGraphicsLib/Layout/Panel.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/ext_lib/JsGraphicsLib/Layout/TabGroup.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/ext_lib/JsGraphicsLib/Layout/Tab.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/ext_lib/scriptaculous-js-1.8.1/src/scriptaculous.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/lib/FilterLayer.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/lib/Formula.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/lib/DepositionMechanism.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/lib/Constant.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/formulae.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/staticConfig.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/scripts/uiLoader.js'%}"></script>
  <script type="text/javascript" src="{% static 'personal/scripts/switch module.js'%}"></script>
  
  
  
  
  
  
  <script type="text/javascript">
// <![CDATA[	
	var debugFlag = true;
	function updateDebug() {
		$('errorConsole').innerHTML = ErrorManager.getFormatedHTMLErrors();
		if(debugFlag) looper('updateDebug()', 2000);
	}
	function looper(func, timeout) {
		setTimeout(func, timeout);
	}
// 	function validatePrimaryParticleDiameter() {
// 		if (document.settings.primaryParticleDiameter.value > document.settings.minRange.value) {
// 			alert("Minimum particle size range must be equal to or larger than primary particle diameter.  The size range has been adjusted.");
// 			document.settings.minRange.value = document.settings.primaryParticleDiameter.value;
// 		}
// 		cfg['constants']['primaryParticleDiameter'].value=document.settings.primaryParticleDiameter.value;
// 	}
	function setDefaults() {
		$('faceVelocityConstant').value = cfg['constants']['uf'].value;
		$('gasViscosityConstant').value = cfg['constants']['mu'].value;
		$('particleDensityConstant').value = cfg['constants']['df'].value;
		$('lambdaStandardConstant').value = cfg['constants']['lambdaStandard'].value;
		$('TemperatureConstant').value = cfg['constants']['temp'].value;
		cfg['constants']['nucleopore'].value = false;
		//$('PressureConstant').value = cfg['constants']['pre'].value;
		document.settings.tempUnits.value = 1;
		document.settings.tempUnits.oldvalue = 1;
		//document.settings.pressureUnits.value = 1;
		//document.settings.pressureUnits.oldvalue = 1;
		//document.settings.primaryParticleDiameter.value = 0.005;
		document.settings.fractalDimension.value = 3;
		document.settings.agglomerateChecked.value = false;
		enableAgglomerateFields();
//		setDefaultEquations();
	}

	function setDefaultEquations() {
		//make Equation 2 default
		document.system0layer0.dmId2_1.checked = true;
		document.system0layer0.dmId1_1.checked = true;
		document.system0layer0.dmId0_1.checked = true;
		document.system0layer0.dmIdpressure_1.checked = true;
		document.system1layer0.dmId2_1.checked = true;
		document.system1layer0.dmId1_1.checked = true;
		document.system1layer0.dmId0_1.checked = true;
		document.system1layer0.dmIdpressure_1.checked = true;
		document.system2layer0.dmId2_1.checked = true;
		document.system2layer0.dmId1_1.checked = true;
		document.system2layer0.dmId0_1.checked = true;
		document.system2layer0.dmIdpressure_1.checked = true;
	}
	
	function computeLambda() {
	cfg['constants']['lambda']= cfg['constants']['lambdaStandard'].value * cfg['constants']['temp'].value / 293 * 14.7/ cfg['constants']['pre'].value;
	$('computedLambda').value=cfg['constants']['lambda']
	}

	function convertTemp(oldUnit, newUnit, temp) {
		document.settings.tempUnits.oldvalue = newUnit;
		var newTemp = 0;
		if (oldUnit == 1) { //convert oldtemp to K
			newTemp = temp;
		} else if (oldUnit == 2) {
			newTemp = parseFloat(temp)+273.15;
		} else if (oldUnit == 3) {
			newTemp = ((parseFloat(temp) - 32) * (5 / 9)) + 273.15
		}
		if (newUnit==1) { //convert newtemp to new unit
			//alert("boo"); //nothing to see here!
		} else if (newUnit ==2 ) {
			newTemp = parseFloat(newTemp)-273.15;
		} else if (newUnit == 3) {
			newTemp = (parseFloat(newTemp) - 273.15) * (9/5) + 32;
		}
		//alert(oldUnit + ", " + newUnit + ", " + temp + ", " + newTemp);
		document.settings.TemperatureConstant.value = newTemp;
	}
	function getFilterType() {
		if (document.settings.filterTypeId1.checked) {
			return 1;
		} else {
			return 2;
		};
	}
 	function switchFilterTypes(type) {
 		if (type == 1) {
 			desc = "Fiber Size";
 			symbol = "fs";
 			myDisabled = false;
	 		cfg['constants']['nucleopore'].value=false; 
	 	} else if (type == 2) {
			desc = "Pore Size";
			symbol = "ps";
			myDisabled = true;
	 		cfg['constants']['nucleopore'].value=true; 
	 	}
	 	document.settings.newLayerName.disabled = myDisabled;
	 	document.settings.newLayerButton.disabled = myDisabled;
	 	
		document.system0layer0.dmId3_2.checked = myDisabled;
		document.system0layer0.dmId3_1.disabled = myDisabled;
		document.system0layer0.dmId3_1.checked = false;
		document.system0layer0.dmId3_0.disabled = myDisabled;
		document.system0layer0.dmId3_0.checked = !myDisabled;
		document.system0layer0.dmId2_3.checked = myDisabled;
		document.system0layer0.dmId2_2.disabled = myDisabled;
		document.system0layer0.dmId2_2.checked = false;
		document.system0layer0.dmId2_1.disabled = myDisabled;
		document.system0layer0.dmId2_1.checked = false;
		document.system0layer0.dmId2_0.disabled = myDisabled;
		document.system0layer0.dmId2_0.checked = !myDisabled;
		document.system0layer0.dmId1_3.checked = myDisabled;
		document.system0layer0.dmId1_2.disabled = myDisabled;
		document.system0layer0.dmId1_2.checked = false;
		document.system0layer0.dmId1_1.disabled = myDisabled;
		document.system0layer0.dmId1_1.checked = false;
		document.system0layer0.dmId1_0.disabled = myDisabled;
		document.system0layer0.dmId1_0.checked = !myDisabled;
		document.system0layer0.dmId0_3.checked = myDisabled;
		document.system0layer0.dmId0_2.disabled = myDisabled;
		document.system0layer0.dmId0_2.checked = false;
		document.system0layer0.dmId0_1.disabled = myDisabled;
		document.system0layer0.dmId0_1.checked = false;
		document.system0layer0.dmId0_0.disabled = myDisabled;
		document.system0layer0.dmId0_0.checked = !myDisabled;
		document.system0layer0.dmIdpressure_2.checked = myDisabled;
		document.system0layer0.dmIdpressure_1.disabled = myDisabled;
		document.system0layer0.dmIdpressure_1.checked = false;
		document.system0layer0.dmIdpressure_0.disabled = myDisabled;
		document.system0layer0.dmIdpressure_0.checked = !myDisabled;
		document.system0layer0.FiberSizeDesc.value = desc;
		document.system0layer0.FiberSizeSymbol.value = symbol;
		document.system0layer0.FiberSizeLegendSymbol.value = symbol;

		document.system1layer0.dmId3_2.checked = myDisabled;
		document.system1layer0.dmId3_1.disabled = myDisabled;
		document.system1layer0.dmId3_1.checked = false;
		document.system1layer0.dmId3_0.disabled = myDisabled;
		document.system1layer0.dmId3_0.checked = !myDisabled;
		document.system1layer0.dmId2_3.checked = myDisabled;
		document.system1layer0.dmId2_2.disabled = myDisabled;
		document.system1layer0.dmId2_2.checked = false;
		document.system1layer0.dmId2_1.disabled = myDisabled;
		document.system1layer0.dmId2_1.checked = false;
		document.system1layer0.dmId2_0.disabled = myDisabled;
		document.system1layer0.dmId2_0.checked = !myDisabled;
		document.system1layer0.dmId1_3.checked = myDisabled;
		document.system1layer0.dmId1_2.disabled = myDisabled;
		document.system1layer0.dmId1_2.checked = false;
		document.system1layer0.dmId1_1.disabled = myDisabled;
		document.system1layer0.dmId1_1.checked = false;
		document.system1layer0.dmId1_0.disabled = myDisabled;
		document.system1layer0.dmId1_0.checked = !myDisabled;
		document.system1layer0.dmId0_3.checked = myDisabled;
		document.system1layer0.dmId0_2.disabled = myDisabled;
		document.system1layer0.dmId0_2.checked = false;
		document.system1layer0.dmId0_1.disabled = myDisabled;
		document.system1layer0.dmId0_1.checked = false;
		document.system1layer0.dmId0_0.disabled = myDisabled;
		document.system1layer0.dmId0_0.checked = !myDisabled;
		document.system1layer0.dmIdpressure_2.checked = myDisabled;
		document.system1layer0.dmIdpressure_1.disabled = myDisabled;
		document.system1layer0.dmIdpressure_1.checked = false;
		document.system1layer0.dmIdpressure_0.disabled = myDisabled;
		document.system1layer0.dmIdpressure_0.checked = !myDisabled;

		document.system2layer0.dmId3_2.checked = myDisabled;
		document.system2layer0.dmId3_1.disabled = myDisabled;
		document.system2layer0.dmId3_1.checked = false;
		document.system2layer0.dmId3_0.disabled = myDisabled;
		document.system2layer0.dmId3_0.checked = !myDisabled;
		document.system2layer0.dmId2_3.checked = myDisabled;
		document.system2layer0.dmId2_2.disabled = myDisabled;
		document.system2layer0.dmId2_2.checked = false;
		document.system2layer0.dmId2_1.disabled = myDisabled;
		document.system2layer0.dmId2_1.checked = false;
		document.system2layer0.dmId2_0.disabled = myDisabled;
		document.system2layer0.dmId2_0.checked = !myDisabled;
		document.system2layer0.dmId1_3.checked = myDisabled;
		document.system2layer0.dmId1_2.disabled = myDisabled;
		document.system2layer0.dmId1_2.checked = false;
		document.system2layer0.dmId1_1.disabled = myDisabled;
		document.system2layer0.dmId1_1.checked = false;
		document.system2layer0.dmId1_0.disabled = myDisabled;
		document.system2layer0.dmId1_0.checked = !myDisabled;
		document.system2layer0.dmId0_3.checked = myDisabled;
		document.system2layer0.dmId0_2.disabled = myDisabled;
		document.system2layer0.dmId0_2.checked = false;
		document.system2layer0.dmId0_1.disabled = myDisabled;
		document.system2layer0.dmId0_1.checked = false;
		document.system2layer0.dmId0_0.disabled = myDisabled;
		document.system2layer0.dmId0_0.checked = !myDisabled;
		document.system2layer0.dmIdpressure_2.checked = myDisabled;
		document.system2layer0.dmIdpressure_1.disabled = myDisabled;
		document.system2layer0.dmIdpressure_1.checked = false;
		document.system2layer0.dmIdpressure_0.disabled = myDisabled;
		document.system2layer0.dmIdpressure_0.checked = !myDisabled;
		
		document.system1layer0.FiberSizeDesc.value = desc;
		document.system1layer0.FiberSizeSymbol.value = symbol;
		document.system1layer0.FiberSizeLegendSymbol.value = symbol;
		document.system2layer0.FiberSizeDesc.value = desc;
		document.system2layer0.FiberSizeSymbol.value = symbol;
		document.system2layer0.FiberSizeLegendSymbol.value = symbol;
		//document.system0layer0.constant_fs_system_0layer_0.value = 10;
	 	//setDefaultEquations();
	}
	
// 	function convertPressure(oldUnit, newUnit, pressure) {
// 		document.settings.pressureUnits.oldvalue = newUnit;
// 		var newPressure;
// 		if (oldUnit == 1) { //convert old pressure to psi
// 			newPressure = pressure;
// 		} else if (oldUnit == 2) {
// 			newPressure = pressure * 14.6979488;
// 		} else if (oldUnit == 3) {
// 			newPressure = pressure / 6.89475729;
// 		}
// 		if (newUnit==1) { //convert newPressure to new unit
// 			//do nothing
// 		} else if (newUnit == 2) {
// 			newPressure = newPressure / 14.6979488;
// 		} else if (newUnit == 3) {
// 			newPressure = newPressure * 6.89475729;
// 		}
// 		document.settings.PressureConstant.value = newPressure;
// 	}
 	function enableAgglomerateFields() {
 		//document.settings.primaryParticleDiameter.disabled = !document.settings.agglomerateChecked.checked;
 		document.settings.fractalDimension.disabled = !document.settings.agglomerateChecked.checked;
 		cfg['constants']['useAgg'].value=document.settings.agglomerateChecked.checked; 
 	}
	
		
// ]]>
</script>

</head>
	
<body onLoad="loadInitialInputGUI(); setDefaults(); loadNewTabGroupUI('systemTabs')">
  <div id="globalContainer" align="center">
    <center>
    <div id="container">
		<!START OF UMN HEADER>
	  <div class="leftprint">
	    <img src="http://www.me.umn.edu/assets/img/smMwdmk.gif" alt="University of Minnesota" width="216" height="55" hspace="10" align="left" />
	  </div>
	  <div class="rightprint"><strong>U of M, ME Dept: Center for Filtration Research</strong><br />http://www.me.umn.edu/<br />
	  </div>
	  <div id="header">
	  <!-- BEGNIN CAMPUS LINKS -->
	    <div id="campus_links">
	        <p>Campuses: </p>
	        <ul>
	          <li><a href="http://www.umn.edu">Twin Cities</a></li>
	          <li><a href="http://www.crk.umn.edu">Crookston</a></li>
	          <li><a href="http://www.d.umn.edu">Duluth</a></li>
	          <li><a href="http://www.morris.umn.edu">Morris</a></li>
	          <li><a href="http://www.r.umn.edu">Rochester</a></li>
	          <li><a href="http://www.umn.edu/campuses.php">Other Locations</a></li>
	        </ul>
	    </div>
	     <div id="headerUofM">
        
	       <div id="logo_uofm">
	 	  </div>
        
	  <!--BEGIN search div-->
	       <div id="search_area">
	         <div id="search_nav"><a href="http://onestop.umn.edu/" id="btn_onestop">OneStop</a><a href="https://www.myu.umn.edu/" id="btn_myu">myU</a>
	 		</div>
         
	         <div class="search"> 
	           <form action="http://google.umn.edu/search" method="get" name="gsearch" id="gsearch" title="Search U of M Web sites">
	             <label for="search_field">Search U of M Web sites</label>
	 		  	<input type="text" id="search_field" name="q" value="Search U of M Web sites"  title="Search text"  />   
	 		  	<input class="search_btn" type="image" src="http://www.me.umn.edu/assets/img/search_button.gif" alt="Submit Search" value="Search" />
	 		  	<input name="client" value="searchumn" type="hidden" />
	 		  	<input name="proxystylesheet" value="searchumn" type="hidden" />
	 		  	<input name="output" value="xml_no_dtd" type="hidden" />
	 	  	  </form>  
	 	    </div> 
	         <!-- end "search" area -->
	 	  </div>
	 	  <!-- End search div -->
	     </div>
	  </div>
  	  <a href="http://www.me.umn.edu/cfr/">
	  <div id="CFR home">
  	        <img src="http://www.me.umn.edu/offices/me3101/cfr/CFR-Filter-banner.jpg" order="0" align="left" alt="Center for Filtration Research">
  	  </div>
      </a>
  	  <br><br><br><br><br><br>
  	  <div id="wrap">
  	    <ul class="navbar">
			<li><a href="/personal/index/" class="activeTab" style="color:#435a26;font-size: 16px">Filter Analysis</a></li>
			<li><a href="/personal/dust%20loading/" style="color:white;font-size: 16px">Dust Loading</a></li>
			<li><a href="/personal/pleating%20design/" style="color:white;font-size: 16px">Pleating Design</a></li>
			<li><a href="/personal/electret/" style="color:white;font-size: 16px">Electret Filter</a></li>
			<li><a href="/personal/database/" style="color:white;font-size: 16px">Meeting Materials</a></li>
		</ul>
  	  </div>
	  
	   <!END OF UMN HEADER>
      <form name="settings">
	  <table id="filter_analysis">
		<tr>
			<td COLSPAN=2 class="column_name"> <strong>Particle Size</strong></td>
			<td COLSPAN=2 class="column_name"> <strong>Flow Parameters</strong> </td>
		</tr>
		<tr>
			<td COLSPAN=2> Range <input type="text" size="3" id="minRange" value="0.01" /> - <input type="text" size="3" id="maxRange" value="1" /> &mu;m </td>
			<td COLSPAN=2> <label>Face Velocity</label> <input type="text" size="7" id="faceVelocityConstant" onChange="cfg['constants']['uf'].value=this.value;" value="0" /> cm/s  </td>
		</tr>
		<tr>
			<td COLSPAN=2> <label>Step: <input type="text" size="4" id="step" value="0.005" /> &mu;m </label> </td>
			<td COLSPAN=2> <label>Gas Viscosity</label> <input type="text" size="7" id="gasViscosityConstant" onChange="cfg['constants']['mu'].value=this.value;" /> g/cm*s</td>
		</tr>
		<tr>
			<td><label>Temperature <input type="text" size="5" id="TemperatureConstant" onchange="setTemp(tempUnits.value, this.value);" />
						<select name="tempUnits" onChange="convertTemp(this.oldvalue, this.value, TemperatureConstant.value);">
	  					<option value="1">K</option>
	  					<option value="2">C</option>
	  					<option value="3">F</option>
	  					</select>
			</label></td>
			<td><!--<label> &nbsp; Pressure <input type="text" size="4" id="PressureConstant" onChange="setPressure(pressureUnits.value, this.value);"  /> 
				  <select name="pressureUnits" onChange="convertPressure(this.oldvalue, this.value, PressureConstant.value);">
	  				<option value="1">psi</option>
	  				<option value="2">atm</option>
	  				<option value="3">kPa</option>
	  				</select>

			</label>--></td>
			<td COLSPAN=2><label>Gas Mean Free Path (STP) </label><input type="text" size="4" id="lambdaStandardConstant" onChange="cfg['constants']['lambdaStandard'].value=this.value;"  />&mu;m</td>
		</tr>
			
		<tr>
			<td COLSPAN=2>
				<label>Primary Particle Density <input type="text" id="particleDensityConstant" size="3" onChange="cfg['constants']['df'].value=this.value;" /> g/cm^3</label>
			</td>
			<td COLSPAN=2><input type=radio name=filterType id="filterTypeId1" value=1 onChange="switchFilterTypes(1);" checked/><strong>Fibrous</strong>
						  <input type=radio name=filterType id="filterTypeId2" value=2 onChange="switchFilterTypes(2);"><strong>Nuclepore</strong>
			</td>
		</tr>
		<tr>
			<td COLSPAN=1>Filter 1<input type="checkbox" id="system1checked" checked /><br>
			Filter 2<input type="checkbox" id="system2checked" /><br>
			Filter 3<input type="checkbox" id="system3checked" /></td>
			<td COLSPAN=1 align="right">
			<label>Layer:<input type="text" size="8" value="New Layer" id="newLayerName" /></label>&nbsp;&nbsp;<input type="button" id="newLayerButton" value="Add Layer" onClick="addTab($('newLayerName').value);" />
			</td>

			<td COLSPAN=2>
				<strong><a href="{% static 'personal/Pop-up Window/effectiveDensity.png' %}"target="_blank">Agglomerate</a></strong><input type="checkbox" id="agglomerateChecked" onChange="enableAgglomerateFields(); "/><br>
				<!--Primary Particle Diameter<input type="text" size="4" id="primaryParticleDiameter" onChange="validatePrimaryParticleDiameter();" /> um<br>-->
		<!--	Fractal Dimension<input type="text" size="4" id="fractalDimension" onChange="cfg['constants']['fractalDimension'].value=this.value;" /><br> -->
				Fractal Dimension<select id="fractalDimension" onChange="cfg['constants']['fractalDimension'].value=this.value; ">
				<option value=3 selected>3</option>
				<option value=2.25>2.25</option>
				<option value=2.07>2.07</option>
				</select>
			</td>
		</tr>
		<tr>
			<td COLSPAN=4>&nbsp;</td>
		</tr>
		<tr>
			<td COLSPAN=2>&nbsp;</td>
			<td COLSPAN=2 align="center">

				<div id="linkcontainer" style="margin-left: 75px">
					<div id=linkbarLink><a href="#xwindow" rel="self" onClick="loadGraph(checkedSystems($('system1checked').checked,$('system2checked').checked,$('system3checked').checked),getFilterType());" name="efficiency">Efficiency</a></div>
					<div id=linkbarLink><a href="#xwindow" rel="self" onClick="loadFOMGraph(checkedSystems($('system1checked').checked,$('system2checked').checked,$('system3checked').checked));" name="fom">FOM Graph</a></div>
				</div>
			
			</td>
		</tr>
	  </table>
      </form>
  <div id="systemTabs" class="tabGroup" name="mySystemTabs">
 	<!--id tags for these tab Panels are important...a switch on these names is used in TabGroup.js to set currentSystem-->
  	<div id="systemTab0" class="tabPanel"></div>
  	<div id="systemTab1" class="tabPanel"></div>
  	<div id="systemTab2" class="tabPanel"></div>
  </div>
   	  <a name="xwindow">
 	  <div id="windowContainer" class="XWindow">
 	  </div>
     </a>
	 <!START OF UMN FOOTER>
	 
  	<!-- BEGIN OPTIONAL UNIT FOOTER -->
  	  <div class="grid_12" id="unit_footer2" style="width:100%">
  	       <ul class="unit_footer_links">
  	    <li>Center for Filtration Research</li>
  	      <li><a href="http://www.me.umn.edu">Mechanical Engineering Department</a></li>
  	    <li>111 Church Street SE, Minneapolis, MN 55455</li>
  	    </ul>

  	  </div>
  	<!-- END OPTIONAL UNIT FOOTER -->

  	<!-- BEGIN UofM FOOTER -->
  	  <div class="grid_7 alpha" id="footer_inner">
  	    <ul class="copyright"><li>&copy; 2017 Regents of the University of Minnesota. All rights reserved.</li>
  	    <li>The University of Minnesota is an equal opportunity educator and employer</li>
  		<li><a href="http://privacy.umn.edu/" title="Privacy Statement">Privacy Statement</a></li>
  	    </ul>
  	  </div>
  	  <div class="grid_5 omega" id="footer_right">
  	    <ul class="footer_links">
  	    <li>Twin Cities Campus: </li>
  	    <li><a href="http://www1.umn.edu/pts/">Parking &amp; Transportation</a></li>
  	    <li><a href="http://www.umn.edu/twincities/maps/index.html">Maps &amp; Directions</a></li></ul>
  	    <br class="clearabove" />
  	    <ul class="footer_links"><li><a href="http://www.directory.umn.edu/">Directories</a></li>
  	    <li><a href="http://www.umn.edu/twincities/contact/">Contact U of M</a></li>
    
  	    </ul>
  	    <p>&nbsp;</p>
  	    <br class="clearabove" />
  	  </div>
  	<!-- END UofM FOOTER -->
	<br><br><br><br><br><br><br>
	<!END OF UMN FOOTER>
    </div>
 	</center>
  </div>

</body>

 </html>
 
