<html>
<head>
  <title>Filtration Software</title>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'personal/styles/template.css'%}" />
  <link rel="stylesheet" type="text/css" href="{% static 'personal/styles/ui.css'%}" />
  <link rel="stylesheet" type="text/css" href="{% static 'personal/styles/layoutComponents.css'%}" />
  <link href="http://www.me.umn.edu/lib/css/reset.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="http://www.me.umn.edu/lib/css/text.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="http://www.me.umn.edu/lib/css/template.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="http://www.me.umn.edu/lib/css/optional.css" rel="stylesheet" type="text/css" media="screen" />
</head>
	   {% block content %}
	   {% endblock %}	
<body >
  <div id="globalContainer" align="center">
    <center>
    <div id="container">
  		<!START OF UMN HEADER>
  	  <div class="leftprint">
  	    <img src="http://www.me.umn.edu/assets/img/smMwdmk.gif" alt="University of Minnesota" width="216" height="55" hspace="10" align="left" />
  	  </div>
  	  <div class="rightprint"><strong>U of M, ME Dept: Center for Filtration Research</strong><br />http://www.me.umn.edu/<br />
  	  </div>
  	  <div id="header">
  	  <!-- BEGNIN CAMPUS LINKS -->
  	    <div id="campus_links">
  	        <p>Campuses: </p>
  	        <ul>
  	          <li><a href="http://www.umn.edu">Twin Cities</a></li>
  	          <li><a href="http://www.crk.umn.edu">Crookston</a></li>
  	          <li><a href="http://www.d.umn.edu">Duluth</a></li>
  	          <li><a href="http://www.morris.umn.edu">Morris</a></li>
  	          <li><a href="http://www.r.umn.edu">Rochester</a></li>
  	          <li><a href="http://www.umn.edu/campuses.php">Other Locations</a></li>
  	        </ul>
  	    </div>
  	     <div id="headerUofM">
        
  	       <div id="logo_uofm"><a href="http://www.umn.edu/">Go to the U of M home page</a>
  	 	  </div>
        
  	  <!--BEGIN search div-->
  	       <div id="search_area">
  	         <div id="search_nav"><a href="http://onestop.umn.edu/" id="btn_onestop">OneStop</a><a href="https://www.myu.umn.edu/" id="btn_myu">myU</a>
  	 		</div>
         
  	         <div class="search"> 
  	           <form action="http://google.umn.edu/search" method="get" name="gsearch" id="gsearch" title="Search U of M Web sites">
  	             <label for="search_field">Search U of M Web sites</label>
  	 		  	<input type="text" id="search_field" name="q" value="Search U of M Web sites"  title="Search text"  />   
  	 		  	<input class="search_btn" type="image" src="http://www.me.umn.edu/assets/img/search_button.gif" alt="Submit Search" value="Search" />
  	 		  	<input name="client" value="searchumn" type="hidden" />
  	 		  	<input name="proxystylesheet" value="searchumn" type="hidden" />
  	 		  	<input name="output" value="xml_no_dtd" type="hidden" />
  	 	  	  </form>  
  	 	    </div> 
  	         <!-- end "search" area -->
  	 	  </div>
  	 	  <!-- End search div -->
  	     </div>
  	  </div>
    	  <a href="http://www.me.umn.edu/cfr/">
  	  <div id="CFR home">
    	        <img src="http://www.me.umn.edu/offices/me3101/cfr/CFR-Filter-banner.jpg" order="0" align="left" alt="Center for Filtration Research">
    	  </div>
        </a>
    	  <br><br><br><br><br><br>
  	   <!END OF UMN HEADER>
<div align="center">
	<br>
<h2>User Login</h2>
	<form method="post" action="/personal/login/">
		{% csrf_token %}
		Password:<input type="password" name="password"><input type="submit" value="Login">
	</form>
	<br>
	<br>
	 <!START OF UMN FOOTER>
	 
  	<!-- BEGIN OPTIONAL UNIT FOOTER -->
  	  <div class="grid_12" id="unit_footer2" style="width:100%">
  	       <ul class="unit_footer_links">
  	    <li>Center for Filtration Research</li>
  	      <li><a href="http://www.me.umn.edu">Mechanical Engineering Department</a></li>
  	    <li>111 Church Street SE, Minneapolis, MN 55455</li>
  	    </ul>

  	  </div>
  	<!-- END OPTIONAL UNIT FOOTER -->

  	<!-- BEGIN UofM FOOTER -->
  	  <div class="grid_7 alpha" id="footer_inner">
  	    <ul class="copyright"><li>&copy; 2017 Regents of the University of Minnesota. All rights reserved.</li>
  	    <li>The University of Minnesota is an equal opportunity educator and employer</li>
  		<li><a href="http://privacy.umn.edu/" title="Privacy Statement">Privacy Statement</a></li>
  	    </ul>
  	  </div>
  	  <div class="grid_5 omega" id="footer_right">
  	    <ul class="footer_links">
  	    <li>Twin Cities Campus: </li>
  	    <li><a href="http://www1.umn.edu/pts/">Parking &amp; Transportation</a></li>
  	    <li><a href="http://www.umn.edu/twincities/maps/index.html">Maps &amp; Directions</a></li></ul>
  	    <br class="clearabove" />
  	    <ul class="footer_links"><li><a href="http://www.directory.umn.edu/">Directories</a></li>
  	    <li><a href="http://www.umn.edu/twincities/contact/">Contact U of M</a></li>
    
  	    </ul>
  	    <p>&nbsp;</p>
  	    <br class="clearabove" />
  	  </div>
  	<!-- END UofM FOOTER -->
	<br><br><br><br><br><br><br>
	<!END OF UMN FOOTER>
<div>
</body>

</html>
